* {
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    height: 1200px;
}

.left_presentation{
    background-color: grey;
    width: 30%;
    height: 100%;

    align-items: center;
}

.right_presentation{
    background-color: hotpink;
    width: 70%;
    height: 100%;
}

.left_presentation .title{
    width: 100%;
    text-align: center;
    padding-top: 20px;
}

.left_presentation .picture{
    width: 100%;
    height: 300px;
    align-items: center;
}

img{
    width: 80%;
    height: 250px;
    padding-left: 15%;
    padding-top: 20px;
    
}


.right_presentation .title{
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-right: 60%;
}

.right_presentation .profil p{
    padding: 0 5%;
}